@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    dracula --default,
    night,
    garden,
    light;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
